<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather Kafka App</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://unpkg.com/htmx.org@2.0.1"
      integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
      crossorigin="anonymous"
    ></script>
  </head>
  <body
    class="bg-gray-100 font-sans p-8"
    hx-trigger="load"
    hx-get="/api/cities"
    hx-target="#citySelect"
  >
    <div class="container mx-auto">
      <h1 class="text-3xl font-bold">Weather Kafka Application</h1>
      <div class="mt-8" id="producer-section">
        <h2 class="text-xl font-bold">Producer Dashboard</h2>
        <input
          class="mt-4 mb-2 w-full bg-gray-200 text-gray-700 border border-gray-300 rounded py-2 px-4 focus:outline-none focus:border-blue-500"
          type="text"
          id="cityInput"
          name="city"
          placeholder="Enter city name"
        />
        <button
          class="mt-4 mb-2 w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded disabled:bg-gray-400 disabled:cursor-not-allowed"
          hx-get="/api/produce"
          hx-trigger="click"
          hx-vals="js:{city: document.getElementById('cityInput').value}"
          hx-target="#producerMessage"
          hx-indicator="#producerMessage"
        >
          Fetch and Send Weather Data
          <img
            id="producerMessage"
            class="htmx-indicator inline-block"
            src="https://raw.githubusercontent.com/n3r4zzurr0/svg-spinners/main/preview/ring-resize-black-36.svg"
          />
        </button>
      </div>
      <div class="mt-8" id="consumer-section">
        <h2 class="text-xl font-bold">Consumer Dashboard</h2>
        <button
          id="fetchWeatherDataBtn"
          class="mt-4 mb-2 w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded disabled:bg-gray-400 disabled:cursor-not-allowed"
          hx-get="/api/consume"
          hx-trigger="click"
          hx-target="#weatherData"
          disabled
        >
          Fetch Weather Data
          <img
            id="weatherData"
            class="htmx-indicator inline-block"
            src="https://raw.githubusercontent.com/n3r4zzurr0/svg-spinners/main/preview/ring-resize-black-36.svg"
          />
        </button>
        <div id="weatherData" class="mt-4 mb-2 w-full"></div>
      </div>
      <div class="mt-8" id="weather-data-cassandra-section">
        <h2 class="text-xl font-bold">Weather Data from Cassandra</h2>
        <select
          id="citySelect"
          class="mt-4 mb-2 w-full bg-gray-200 text-gray-700 border border-gray-300 rounded py-2 px-4 focus:outline-none focus:border-blue-500"
          hx-get="/api/weather"
          hx-trigger="change"
          hx-target="#weatherDataCassandra"
          name="city"
        >
          <option value="">Select a city</option>
        </select>
        <div id="weatherDataCassandra" class="mt-4 mb-2 w-full"></div>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
